/*Estilização do conteúdo*/
.conteudo{
    width: 100%;
    height: 800px;
    padding: 40px;
    padding-top: 150px;
    background-color: #DFDFDF;
}
.conteudo form{
    background-color: #DFDFDF;
}
.Div_Form{
    width: 100%;
    height: 100%;
    display: flex;
  
}
.Div_Campos{
    
}
.conteudo form legend{
  
    width: 450px;
   
    font-size: 16pt;
    font-weight: bold;
    text-align: center;
    
    background-color: #DFDFDF;
    border-bottom: solid 1px #aaa9a9;
}
.conteudo form input{
    width: 15%;
    height: 35px;
    font-size: 14pt;
   
    border-radius: 7px;
    border:solid #aaa9a9;
    background-color: #F3EFEF;
}
.conteudo form button{
    width: 15%;
    height: 35px;
    font-size: 14pt;
    cursor: pointer;
    
    border-radius: 7px;
    background-color: #23aadf;
    border: solid 2px #62aada;
}
.conteudo form button:focus{
    border:solid 2px #4786b1;
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.075);
}
.conteudo form label{
    width: 90pt;
    font-size: 16pt;
    text-align: end;
   
    display: inline-block;
    background-color: #DFDFDF;
}
.conteudo form select{
    width: 15%;
    height: 35px;
    font-size: 14pt;
  
    border-radius: 7px;
    border:solid #aaa9a9;
    background-color: #F3EFEF;
}
.conteudo form select option{
    width: 15%;
    height: 35px;
    font-size: 14pt;
    background-color: #F3EFEF;
}
.fotoPrew{
    width: 350px;
    height: 400px;
    
    border-radius: 19px;
    border-top-width: 10px;
    border-top-style:outset;
    border-top-color: #63a4e0;
}
.fotoPrew img{
    width: 350px;
    height: 400px;
    border-radius: 12px;
    border: solid 1px #aaa9a9;
    background-color: #f3ebeb;
}
.fotoPrew input{
    display: none;
}
.fotoPrew label p{
    width: 150px;
    height: 30px;
    padding: 2px;
    cursor: pointer;
    font-size: 14pt;
   
    border-radius: 7px;
    text-align: center;
    background: #23aadf;
    border: solid 2px #62aada;
}