/*Estilização de menu*/
.form_fundo{
    margin-left: 29%;
    margin-top: 1.5%;
}
.form_fundo form{
    display: flex;
}
.icon img{
    top: 25px;
    left: 70.3%;
    width: 25px;
    position: absolute;
    background-color: #F3EFEF;
}
.pesquisa{
    width: 420px;
    height: 32px;
    font-size: 15pt;
    text-align: left;
    border-radius: 5px;
    background-color: #F3EFEF;
}
.pesquisa:focus{
    box-shadow: 3px 2px 5px rgba(65, 62, 62, 0.322);
}
header{
    z-index: 1;
    width: 100%;
    display: flex;
    position: fixed;
    box-shadow: 2px 3px 6px  rgba(65, 62, 62, 0.322);
}
.menu_logan{
    margin-top: 1%;
    margin-left: 2%;
    font-size: 42px;
    font-weight: 900;
    margin-bottom: 1%;
}
.menu_logan img{
    width: 42px;
    line-height: 42px;
    margin-bottom: -7px;
}
.menu{
    left: 73%;
    top: 17px;
    display: flex;
    position: absolute;
}
.menu li a{
    padding: 7px;
    margin-left: 20px;
}
.menu li a:hover{
    color:#1a1818;
    border-radius: 50px;
    transition: ease-in 450ms;
    background-color: #70b7e0;
}
/*Estilização do conteúdo*/
.conteudo{
    width: 100%;
    height: 100%;
    padding: 45px;
    background-color: #DFDFDF;
}
.conteudo section{
    width: 720px;
    display: flex;
    height: 249px;
    margin-top: 7%;
    border-radius: 9px;
    align-items: center;
    box-shadow: 4px 3px 14px rgba(65, 62, 62, 0.322);
}
.Div-Overflow{
    display: flex;
    height: 249px;
    overflow: auto;
    border-width: 10px;
    border-radius: 9px;
    align-items: center;
    border-right-width: 5px;
    border-top-style: solid;
    border-color: #63a4e0; 
    border-right-style: solid;
    border-bottom-style: solid;
    background-color:#f3ebeb;
}
.conteudo section article{
    padding: 10px;
    background-color:#f3ebeb;
}
.conteudo section article img{
    width:120px;
    height:180px;
    display: block;
    border-radius: 9px;
}
.conteudo section p{
    padding: 15px;
    width: 234.5px;
    text-align: center;
    background-color: #63a4e0;
}
.conteudo aside{
    top: 40%;
    left: 60%;
    width: 450px;
    height: 500px;
    position: absolute;
    box-shadow: 4px 3px 14px rgba(65, 62, 62, 0.322);
}
/*Estilização do rodapé*/
.rodape{
    width: 100%;
    height: 100px;
    background-color: #63a4e0;
}
.rodape div{
   margin-left: 48%; 
}
.rodape h1{
    font-size: 14pt;
    font-weight: 600;
    margin-top: 20px;
    text-align: center;
    background-color:#63a4e0;
}
.rodape p{
    font-size: 10pt;
    text-align: center;
}
.rodape a{
    text-align: center;
    background-color:#63a4e0;
}
.rodape img{
    width: 25px;
    background-color:#63a4e0;
}