*{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 25pt;
    list-style: none;
    color: #2B2626;
    text-decoration: none;
    box-sizing: border-box;
    background-color:#63a4e0;
    font-family: 'Roboto', sans-serif;
}
input{
    border: 0;
    outline: 0;
    box-shadow: 0 0 0;
}
select{
    border: 0;
    outline: 0;
    box-shadow: 0;
}
button{
    border: none;
    outline: none;
    box-shadow: 0 0 0 0;
}
img{
    border: 0;
    outline: 0;
}