*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-size: 25pt;
    font-family: 'Titillium Web', sans-serif;
    color: #BABABF;
    border: none;
}