/*Estilização do conteúdo*/
.conteudo{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4em;
    background-color: #DFDFDF;
}
.conteudo section{
    width: 15em;
    height: 12em;
    border-radius: 15px;
    border-top-width: 10px;
    border-top-style: outset;
    background-color: #f3ebeb;
    border-top-color: #63a4e0;
    box-shadow: 4px 3px 14px rgba(65, 62, 62, 0.322);
}
.conteudo section form{
    margin: 1.2em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.conteudo section form legend{
    font-weight: bold;
    margin-bottom: 1em;
}
.conteudo section form input{
    width: 100%;
    padding: 0.2em;
    margin-top: 0.5em;
    font-size: 1rem;
    border-radius: 7px;
    border: 3px solid #63a4e0;
    background-color: #F3EFEF;
}
.conteudo section form div{
    margin-top: 0.5em;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
    justify-content: space-between;
}
.conteudo section form button{
    width: 27%;
    height: 35px;
    cursor: pointer;
    font-size: 1rem;
    border-radius: 7px;
    background-color: #23aadf;
    border: solid 2px #62aada;
    color: #F3EFEF;
}
.conteudo section form button:focus{
    border:solid 2px #4786b1;
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.075);
}
.conteudo section form a{
    color: #23aadf;
    font-size: 0.7rem ;
}
.conteudo section form a:hover{
    text-decoration: underline;
    text-decoration-color: #62aada;
}